{% extends 'user/header_footer.html' %}
    
{% block content %}

    <!-- =====>> End Top Menu <<===== 
    =========================== -->

    <!-- ===========================
    =====>> Hero Home 2 <<===== -->
    <section id="hero-2" class="hero-2-bg header2">
        <div class="fullslider2 owl-carousel owl-theme">
            <div class="item slider-bg-4">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-8">
                            <div class="hero-text">
                                <h1 class="cd-headline clip">
                                    <span>World’s Leading </span>
                                    <span class="cd-words-wrapper">
                                                <b class="is-visible">PLASTIC RECYCLER</b>
                                               
                                            </span>
                                </h1>
                                <h2>Utilize Company</h2>
                                <p> has the capacity and innovative technology to reprocess a wider range of HDPE and PP materials than any other plastic scrap recycler in india.</p>
                                <a href="/user_login/" class="btn btn-1">More details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="item slider-bg-3">
                <div class="container">
                    <div class="row">
                        <div > -->
                    <!-- <img src="/static/assets/img/img/g10.jpg"> -->

                           <!--  <div>
                                <h1 class="cd-headline clip">
                                    <span>World’s Leading </span>
                                    <span class="cd-words-wrapper">
                                                <b class="is-visible">PLASTIC RECYCLER</b>
                                               
                                            </span>
                                </h1>
                                <h2>personal trainer & lyfestyle coach</h2>
                                <p>Our instructors & personal trainers will help you with all your fitness goals.</p>
                                
                                <a href="contact.html" class="btn btn-1">contact me</a>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- </div> -->
            <!-- <div> -->
              <!--   <div class="container">
                    <img src="/static/assets/img/img/g10.jpg"> -->
                    <!-- <div class="row"> -->
                        <!-- <div class="col-xl-6 col-lg-8"> -->
                            <!-- <div class="hero-text">
                                <h1 class="cd-headline clip">
                                    <span>The World’s Leading </span>
                                    <span class="cd-words-wrapper">
                                                <b class="is-visible">PLASTIC RECYCLER</b>
                                                <b>PLASTIC RECYCLER</b>
                                                <b>PLASTIC RECYCLER</b>
                                            </span>
                                </h1>
                                
                               
                                <a href="contact.html" class="btn btn-1">contact me</a>
                            </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
               <!--  </div> -->
            <!-- </div> -->
        </div>

    </section>
    <!-- =====>> End Hero Home 2 <<===== 
    =========================== -->

    <!-- ===========================
    =====>> Feature <<===== -->
    <section id="feature-area" class="feature-home-2 pt-100 pb-150">
        <div class="container">
            <div class="row">
                <!-- Feature Item -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item text-center pt-50">
                        <div class="feature-i">
                            <i class="flaticon-juice"></i>
                        </div>
                        <div class="feature-text">
                            <h3>The innovative plastic recycling process</h3>
                            
                        </div>
                    </div>
                </div>
                <!-- Feature Item -->
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item text-center pt-50">
                        <div class="feature-i">
                            <i class="flaticon-dumbbell-1"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Smart zero-waste strategy</h3>
                           
                        </div>
                    </div>
                </div>
                <!-- Feature Item -->
                <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3">
                    <div class="feature-item text-center pt-50">
                        <div class="feature-i">
                            <i class="flaticon-male-arm-muscles"></i>
                        </div>
                        <div class="feature-text">
                            <h3>Magnets help on bottle recycling obstacle</h3>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> End Feature <<===== 
    =========================== -->

    <!-- ===========================
    =====>> Trainer <<===== -->
    <section id="trainer-area" class="pt-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="trainer-text">
                        <div class="section-title text-left ">
                            <h2>Recycling  <span>Services</span></h2>
                           
                        </div>
                        <div class="trainer-p">
                            <p>We recycle all grades of plastic, and purchase raw plastic scrap in any shape or form, regrind and virgin resin. We offer toll grinding services and specialize in used plastic pallets, bins, totes, and boxes. Our PVC recycling division provides grinding, sorting, and bailing for an array of plastic materials. </p>
                       

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="trainer-img">
                        <img src="/static/assets/img/img/im1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section id="fitner-area" class="fitner-2 pt-100 pb-150">
        
    </section>
  
    <section id="services-area" class="services-2 pt-150">
        <div class="container ">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 ">
                    <div class="section-title text-center ">
                        <h2>Utilize Plastic  <span>Recycling Company</span> </h2>
                        <p>Utilize Company, based in New York,  specializes in plastic recycling and commercial plastics recycling. Our main specialty is in the purchase and resale of plastic materials in the secondary market. Utilize has built a reputation on a pioneering spirit for developing new markets and technologies to meet tomorrow’s plastic scrap recycling demands. We recycle all grades of plastic, and purchase raw plastic scrap in any shape or form, regrind and virgin resin. We offer toll grinding services and specialize in used plastic pallets, bins, totes, and boxes. We transform your plastic scrap and plastic film into useful material that can be used to make a huge variety of products, from furniture to windows, flooring, and insulation.
<br>We believe plastic recycling is an important and needed service, and we are proud to call ourselves “the best in the industry”.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-content pt-40 ">
            <div class="container-fluid ">
                <div class="row ">
                   <!-- Service Item -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="services-box effect-item mt-40">
                            <div class="services-item content-overlay">
                                <img src="/static/assets/img/img/images5.jpg" alt=" ">
                                <div class="content-details fadeIn-top">
                                   
                                </div>
                            </div>
                            <div class="services-text text-center">
                               
                            </div>
                        </div>
                    </div>
                    <!-- Service Item -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="services-box effect-item mt-40">
                            <div class="services-item content-overlay">
                                <img src="/static/assets/img/img/im12.jpg" alt=" ">
                                <div class="content-details fadeIn-top">
                                  
                                </div>
                            </div>
                            <div class="services-text text-center">
                                
                            </div>
                        </div>
                    </div>
                    <!-- Service Item -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="services-box effect-item mt-40">
                            <div class="services-item content-overlay">
                                <img src="/static/assets/img/img/download.jpg" alt=" ">
                                <div class="content-details fadeIn-top">

                                </div>
                            </div>
                            <div class="services-text text-center">
                               
                            </div>
                        </div>
                    </div>
                    <!-- Service Item -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="services-box effect-item mt-40">
                            <div class="services-item content-overlay">
                                <img src="/static/assets/img/img/images33.jpg" alt=" ">
                                <div class="content-details fadeIn-top">

                                </div>
                            </div>
                            <div class="services-text text-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =====>> End Services <<===== 
    =========================== -->

    <!-- ===========================
    =====>> Pricing <<===== -->
    <section id="pricing-area" class="pt-150 pb-150">
        <div class="container ">
            <div class="row ">
                <div class="col-lg-8 offset-lg-2 ">
                    <div class="section-title text-center ">
                        <h2>Products  <span>We Sell</span></h2>
                        <p>Utilize Plastics Recycling produce HDPE, MDPE, and PP post-consumer resins. Our focus on quality, consistency, and scale, coupled with leading-edge recycling and extrusion technologies makes us one of the nation’s leading plastic suppliers,<br> working with processors and end-users to meet challenging needs</p>
                    </div>
                </div>
            </div>
            <div class="pricing-content pt-40">
                <div class="row">
                  
            </div>
        </div>
    </section>
    <!-- =====>> End Pricing <<===== 
    =========================== -->

    <!-- ===========================
    =====>> Testimonial <<===== -->
    <section id="testimonial-area" class="testimonial-home1 pt-150">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8">
                    <div class="section-title text-left">
                        <h2>Plastic Scrap  <span>We Buy</span></h2>
                        <p>Utilize Company has the capacity and innovative technology to reprocess a wider range of HDPE and PP materials than any other plastic scrap recycler in india.</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-content pt-40">
                <div class="row">
                    <!-- Testimonial Item -->
                    <div class="col-lg-6">
                     
                    </div>
                    <!-- Testimonial Item -->
                    <div class="col-lg-6">
                        <div class="testimonial-item mt-40">
                            <img src="/static/assets/img/testimonial/2.jpg" alt="">
                            <div class="testimonial-text">
                               <!--  <h3>“Best place to burn fate and make best ftness”</h3>
                                <a class="video-play-button " href="https://www.youtube.com/watch?v=ZoZSp-wy8h8">
                                    <i class="flaticon-play-button "></i>
                                    <span>Take a Tour</span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
       <link rel="stylesheet" href="/static/frontend/assets/css/sweetalert.css">








    {% if error %}
<script type="text/javascript">
  swal("Error!", "{{error}}", "error");
</script>
{% endif %}

{% if success %}
<script type="text/javascript">
  swal("Congrats!", "{{success}}", "success");
</script>
{% endif %}

{% if info %}
<script type="text/javascript">
  swal("Information!", "{{info}}", "info");
</script>
{% endif %}

   {% endblock %}