
{% extends 'recycling_unit/header_footer.html' %}
    
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Our Products....</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="/recyclingunit_home/"><a href="#">Home</a></li>
              
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section id="shop-area" class="shop-gallery pt-100 pb-150">
       
    </section>
    <style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
                {% for x in db %}

<div class="gallery">
  <!-- <a target="_blank" href="img_5terre.jpg"> -->
    <img src="{{x.image.url}}" alt="product" width="600" height="400">
  </a>
  <div class="desc">{{x.name}}</div>
  <div class="desc">Rs.{{x.price}}</div>
  <div class="desc">{{x.description}}</div>


</div>
{% endfor %}

</body>
  {% endblock %}